.collapse_container {
 margin-top: 20px;
 display: flex;
 align-items: center;
 justify-content: center;
 width: 80%;
 flex-direction: column;
 text-align: center;
 button {
    border: none;
    background-color: white;
    font-style: italic;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: underline;
    cursor: pointer;
 }
}

.collapse-title {
    color : #999799;
    align-self: center;
    font-size: 20px;

}

img.logo_click {
    margin-top: 10px;
    width: 20px;
    height: 20px;
    cursor: pointer;
    
   
}


// Animation 

.collapse-content {
    margin-top: 50px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 1s ease-out; /* Durée et type de transition souhaités */
    display: flex;
    justify-content: center;
    background-color: #F7F7F7;
    width: 72vw;
    height: 100vh;
    border-radius: 15px;
    overflow: auto;
    
  }

  .collapse-content.expanded {
    max-height: 600px; /* Réglez la hauteur maximale souhaitée lorsque le collapsible est ouvert */
  }

  .collapse-content.closed {
    transition-duration: 0.5s; /* Durée de transition plus courte pour la fermeture */
  }
  
  @media (max-width: 1070px) {
    .collapse-content {
      flex-direction: column;
      align-items: center;
    }
    .collapse_container {
      
    }

    .collapse-content.expanded {
      max-height: 2000px;
    }
    .presentation-container img { 
    width: 100%;
     margin-bottom: 50px;
     margin-top: 20px;
    }

    .more_about_me {
      margin-top: 50px;
      width: 70%;
     
    }
  }