@keyframes text-focus-in {
    0% {
      filter: blur(12px);
      opacity: 0;
    }
    100% {
      filter: blur(0px);
      opacity: 1;
    }
  }
  .nav_bar_mobile_content {
    display: none;
  }

.nav_bar {
  position: fixed; /* La barre de navigation reste fixée à l'écran */
  top: 0; /* Place la barre de navigation en haut de l'écran */
  left: 0; /* Place la barre de navigation à gauche de l'écran */
  width: 100%;
    display: flex;
    gap : 50px;
    justify-content: center;
    z-index: 9999;
     background-color: RGB(51, 51, 51); 
  /*   background-color: RGB(1, 17, 32); */
    padding: 0px 50px;

   
}

.nav_bar_mobile {
  display: none;
}

.nav_bar li {
    
        cursor: pointer;
        letter-spacing: 3px;
        color: white;
        padding: 20px 10px;
    
    
}

.nav_item:hover {
  background-color: #f0f0f0; /* Couleur de fond au survol */
  color: RGB(51, 51, 51); /* Couleur du texte au survol */
  transition: 0.5s ease-in-out;
}

@media (max-width: 1070px) {
  .nav_bar {
    gap: 5px;
  }
  .carousel {
    margin-right: 0px;
  }
  
}

@media (max-width: 750px) {
  .nav_bar {
    display: none;
  }
  .nav_bar_mobile {
    display:flex; 
    position: fixed; /* La barre de navigation reste fixée à l'écran */
    top: 0; /* Place la barre de navigation en haut de l'écran */
    left: 0; /* Place la barre de navigation à gauche de l'écran */
    width: 100%;
      display: flex;
      justify-content: space-between;
      z-index: 9999;
       background-color: RGB(51, 51, 51); 
    /*   background-color: RGB(1, 17, 32); */
      padding: 0px 20px;
      height: 50px;
      align-items: center;
      
     
  }

.nav_bar_mobile_name {
  color: white
}
  .button_scroll {
    display: flex;
    flex-direction: column;
 }
   .button_bar {
    border-bottom: 1px solid white;
    width: 20px;
    height: 5px;
    margin-bottom: 1px;
   }
     /* Collapse Content */
.collapse_content {
  background-color: #FAFAFA;
  margin-top: 50px;
  width: 100%;
  height: 300px;
  position: fixed;
  top: 0;
  z-index: 999;

}

/* Collapse Content - Hide by default */
.collapse_content {
  display: none;
}

/* Show Collapse Content when isCollapsed is false */
.collapse_content.show {
  display: block;
}

.nav_bar_mobile_content {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Vertically center the items within the container */
}
 .nav_item {
  padding: 20px 20px;
 }

  }

